@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  margin: 20px 20px;
}

img {
  display: block;
  border-radius: 6px;
  box-shadow: 2px 2px 10px;
  margin-top: 20px;
}

.cat-info {
  gap: 30px;
}
